::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }
 .fade-in {
   transition: opacity 0.5s ease-in-out;
   opacity: 0;
 }
 .fade-in.visible {
   opacity: 1;
 }
 