body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
}

input {
    width: 300px;
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: black

}

select {
    width: 300px;
    border: solid;
    border-width: 1px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: black
}

button {
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
